  .loginMainPage {
    align-items: center;
    background-color: #F4D6CC;
    display: flex;
    flex-direction: column;
    font-family: Heebo , sans-serif;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }
  
  .Logo img {
    height: 15em;
  }
  
  .Logo h1 {
    color: #3c005c;
    font-family: Heebo , sans-serif;
    text-align: center;
  }
  
  .loginFormDiv {
    display: flex;
    flex-direction: column;
    height: 18em;
    justify-content: center;
    padding: 1em;
    width: 18em;
  }
  
  .loginFormDiv button {
    background-color: #3c005c;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: none;
    color: white;
    font-family: Heebo , sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 2em;
    margin-top: 2em;
  }
  
  .loginFormDiv button:active {
    background-color: #3c005c;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: none;
    color: white;
    font-family: Heebo , sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 2em;
    margin-top: 2em;
  }
  
  .loginFormDiv button:focus {
    background-color: #3c005c;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: none;
    color: white;
    font-family: Heebo , sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 2em;
    margin-top: 2em;
  }
  
  .loginFormDiv button:hover {
    background-color: #3c005c;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: none;
    color: white;
    font-family: Heebo , sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 2em;
    margin-top: 2em;
  }
  
  .loginFormDiv button:disabled {
    background-color: #595959;
    border-color: transparent;
    border-radius: 10px;
    color: #676b69;
    font-family: Heebo , sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 2em;
  }
  
  .loginFormDiv span {
    align-items: center;
    background-color: white;
    border-radius: 10px 0 0 10px;
    /* color: #ed0f69; */
    color: #3c005c;
    display: flex;
    justify-content: center;
    width: 2.5em;
  }

  .loginFormDiv span:hover {
    align-items: center;
    background-color: white;
    border-radius: 10px 0 0 10px;
    /* color: #3c005c; */
    color: #ed0f69;
    display: flex;
    justify-content: center;
    width: 2.5em;
  }
  
  .loginFormDiv input {
    align-items: center;
    border-radius: 10px;
    color: #3c005c;
    display: flex;
    font-family: Heebo , sans-serif;
    justify-content: center;
    width: 2.5em;
  }
  
  .loginFormDiv input:focus {
    border-color: #0d0d0d;
    box-shadow: none;
    color: #3c005c;
    font-family: Heebo , sans-serif;
  }
  
  .loginFormDiv input:after {
    color: #3c005c;
    font-family: Heebo , sans-serif;
  }
  
  .loginFormDiv input::placeholder {
    color: #3c005c;
    font-family: Heebo , sans-serif;
  }
  
  @media ( max-width : 480px ) {

    .loginMainPage {
      align-items: center;
      background-color: #F4D6CC;
      display: flex;
      flex-direction: column;
      font-family: Heebo , sans-serif;
      height: 100vh;
      justify-content: center;
      width: 100%;
    }
  
    .Logo img {
      height: 8em;
    }
  
    .Logo h1 {
      color: #3c005c;
      font-family: Heebo , sans-serif;
      text-align: center;
    }
  
    .loginFormDiv {
      display: flex;
      flex-direction: column;
      height: 18em;
      justify-content: center;
      padding: 1em;
      width: 18em;
    }
  
    .loginFormDiv button {
      background-color: #3c005c;
      border-color: transparent;
      border-radius: 10px;
      box-shadow: none;
      color: white;
      font-family: Heebo , sans-serif;
      font-size: 20px;
      font-weight: 600;
      height: 2em;
      margin-top: 2em;
    }
  
    .loginFormDiv button:active {
      background-color: #3c005c;
      border-color: transparent;
      border-radius: 10px;
      box-shadow: none;
      color: white;
      font-family: Heebo , sans-serif;
      font-size: 20px;
      font-weight: 600;
      height: 2em;
      margin-top: 2em;
    }
  
    .loginFormDiv button:focus {
      background-color: #3c005c;
      border-color: transparent;
      border-radius: 10px;
      box-shadow: none;
      color: white;
      font-family: Heebo , sans-serif;
      font-size: 20px;
      font-weight: 600;
      height: 2em;
      margin-top: 2em;
    }
  
    .loginFormDiv button:hover {
      background-color: #3c005c;
      border-color: transparent;
      border-radius: 10px;
      box-shadow: none;
      color: white;
      font-family: Heebo , sans-serif;
      font-size: 20px;
      font-weight: 600;
      height: 2em;
      margin-top: 2em;
    }
  
    .loginFormDiv button:disabled {
      background-color: #595959;
      border-color: transparent;
      border-radius: 10px;
      color: #676b69;
      font-family: Heebo , sans-serif;
      font-size: 20px;
      font-weight: 600;
      height: 2em;
    }
  
    .loginFormDiv span {
      align-items: center;
      background-color: white;
      border-radius: 10px 0 0 10px;
      color: #3c005c;
      display: flex;
      justify-content: center;
      width: 2.5em;
    }
  
    .loginFormDiv input {
      align-items: center;
      border-radius: 10px;
      color: #3c005c;
      display: flex;
      font-family: Heebo , sans-serif;
      justify-content: center;
      width: 2.5em;
    }
  
    .loginFormDiv input:focus {
      box-shadow: none;
      color: #3c005c;
      font-family: Heebo , sans-serif;
    }
  
    .loginFormDiv input:after {
      color: #3c005c;
      font-family: Heebo , sans-serif;
    }
  
    .loginFormDiv input::placeholder {
      color: #3c005c;
      font-family: Heebo , sans-serif;
    }
  }